.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.dashboard-content {
    display: flex;
    flex: 1;
    margin-top: 4.5rem;
    overflow: hidden;
}

.main-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    height: calc(99vh - 3.9rem); 
}

.outlet-content {
    flex: 1;
    padding: 1px;
    overflow-y: auto;
    background-color: #f2f2f2;
}